
body {
  background-color: rgb(0, 0, 0);
  margin: 0;
  
}


.My-Portfolio {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.imgHome {

  margin: 10px auto 50px;
  width: 90%;
  
  
}



.img {
  width: 100%;
  
  
}

.bottonGetStarted {
  background-color: #333;
  color: #fff;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 150px;
  
  
}



p{
  text-align: center;
  margin-top: 30px;
}



/*pageMy-Portfolio*/







/*HOME*ANOTHER STYLE////////////////////////////////////////*/

body {
  font-family: "Lato", sans-serif;
}

span {
  color: rgb(255, 255, 255);
  
}


.span {
  

  text-align: right;
  
}



.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 65px
  
}

.sidenav a {
  padding: 8px 1px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-radius: 50px;

  
  
  
}


.sidenav a:hover.closebtn {
  
  color: #ffffff;
  background-color: #111;
 

  

}



.sidenav a:hover {
  color: #000000;
  background-color: #ffffff;
}

.sidenav .closebtn {
  
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 55px;
  margin-right: 80px;
  padding: 1px;
  
  
}






/*HEADER CODES////////////////////////////////////////////////////////////////*/

header {
 
  position: fixed;
  z-index: -1;
  background-color: #b5b5b5;
  width: 100%;
}


ul {
  
  padding: 10px 20px;

}

li {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;  
  width: 150px;
  text-align: center;
  border-radius: 50px;
  border: 1px solid black;
  padding: 5px;
  

   
}






/*PROFILE CODES CSS/////////////////////////////////**/

.imgdave1 {

  width: 40%;
  margin: 40px 0 0;
  

  
}
  


footer {
 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b5b5b5;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: -1;
 }





/*pageMy-Portfolio//////////////////////////////////////////////////////*/

.dateTime {
  color: white;
  margin: 50px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}




.centerComponents {

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  

  
}




.container {
  
  margin: 10px auto;
  text-align: center;
 
  
  
}



















/*////////////////////////////////////////////////////////////////////////////////

BELOW IS DESIGN FOR Home.html



header {
  
  position: fixed ;
  width: 100% ;
}


nav {
  margin: 50px;
  padding: 40px 10px;
  text-align: center;
  
}

nav li {
  
  
  padding: 20px;
  display: block ;
  
}


.navButton {
  
  
  
  
  background-color: #333;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  



}






@media screen and (max-height: 50px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 65px
  
}



.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 65px
  
}



.bottonGetStarted {
  background-color: #333;
  color: #fff;
  
  
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}






*/