

body {
  
  background-color: #000000;
  margin: 0;
}


.My-Portfolio {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.imgHome {

  margin: 10px auto 50px;
  width: 90%;
  
  
}



.img {
  width: 100%;
  
  
}

.bottonGetStarted {
  background-color: #333;
  background-image: linear-gradient(to right, gray, rgb(205, 147, 61));
  color: #fff;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  margin-top: 150px;
  
  
  
}



p {
  text-align: center;
  margin-top: 30px;
}



/*pageMy-Portfolio*/







/*HOME*ANOTHER STYLE////////////////////////////////////////*/

body {
  font-family: "Lato", sans-serif;
}

span {
  color: rgb(74, 73, 73);
  
}


.span {
  

  text-align: right;
  
}



.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(205, 147, 61, 0.203));
  transition: 0.5s;
  padding-top: 65px
  
}

.sidenav a {
  padding: 8px 1px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border-radius: 50px;

  
  
  
}


.sidenav a:hover.closebtn {
  
  color: #ffffff;
  background-color: #111;
 

  

}



.sidenav a:hover {
  color: #000000;
  background-color: rgb(205, 147, 61);
}

.sidenav .closebtn {
  
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 55px;
  margin-right: 80px;
  padding: 1px;
  
  
}






/*HEADER CODES////////////////////////////////////////////////////////////////*/

header {
 
  position: fixed;
  z-index: -1;
  width: 100%;
  background-image: linear-gradient(to right, gray, rgb(205, 147, 61));
  
}


ul {
  
  padding: 10px 0px;
  text-align: center;
  

}

li {
  color: #4a4a4a;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;  
  
}






/*PROFILE CODES CSS/////////////////////////////////**/

.imgdave1 {

  width: 30%;
  margin: 40px 0 0;
  float:left; 

  
}
  


footer {
 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b5b5b5;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: -1;
 }



.hi {

  color: rgb(255, 255, 255);
  
  padding: 0;
  margin: 0;
  
  
}

.Front-end-Developer {

  color: rgb(114, 114, 114);
  padding: 0;
  margin: 0;
  
  
}


.myBio {

  color: white;
  text-align: justify;
  line-height: 1.5;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 40px;
  
  
  letter-spacing: 2px;
}

.links {

  color: white;
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 10px;
}


.links a {

  color: white;
  text-decoration: none;
}


/*pageMy-Portfolio//////////////////////////////////////////////////////*/

.dateTime {
  color: white;
  margin: 50px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}




.centerComponents {

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  

  
}




.container {
  
  margin: 10px auto;
  text-align: center;
 
  
  
}




/**general codes*/




h3 {

  color: rgb(205, 147, 61);
  text-align: center;
  
 }


 h4 {

  color: rgb(205, 147, 61);
  text-align: center;
  
 }



/*/////////////PROJECTS CODES///////////////////////////////////////////////////////////////////////////*/


.projectsContainer {
 
  color: rgb(177, 177, 177);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.projectFashion {

  color: rgb(158, 158, 158);
  text-align: justify;

}

.fashionBlogContent {
  padding-top: 50px;
 

}

.headingProjects {

  line-height: 0.4;
}


h2 {

  text-align: left;
  color:#ededed
}
/*

.leftNav {
  height: 100%;
  width: 130px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  background-image: linear-gradient(to rgb, rgb(132, 132, 132), rgb(0, 0, 0));
  overflow-x: hidden;
  padding-top: 140px;
  z-index: -2;
}

.leftNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.leftNav a:hover {
  color: #f1f1f1;
}



.menuProject {
  margin-left: 160px; /* Same as the width of the sidenav 
  font-size: 28px;  Increased text to enable scrolling
  padding: 0px 10px;
  background-color: #333;
  margin-top: 70px;
  margin-right: 25px;
}

h2 {
  color: white;
}

.ProjectsMenu {
  color: white;
  text-align: justify;
  padding-right: 20px;
}

 */

/*c///////////////////////////Code of logo fb and etc.*/

/* Style all font awesome icons */


/* Add a hover effect if you want */








/* Set a specific color for each brand */














/*////////////////////////////////////////////////////////////////////////////////

BELOW IS DESIGN FOR Home.html



header {
  
  position: fixed ;
  width: 100% ;
}


nav {
  margin: 50px;
  padding: 40px 10px;
  text-align: center;
  
}

nav li {
  
  
  padding: 20px;
  display: block ;
  
}


.navButton {
  
  
  
  
  background-color: #333;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  



}






@media screen and (max-height: 50px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 65px
  
}



.sidenav {
  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 65px
  
}



.bottonGetStarted {
  background-color: #333;
  color: #fff;
  
  
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}







<!--

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >

      <a href="#" class="navButton">&#9978; Home</a>
      <a href="#" class="navButton">&#128570; Profile</a>
      <a href="#" class="navButton">&#128189; Photos</a>
      <a href="#" class="navButton">&#127916; Videos</a>
      <a href="#" class="navButton">&#128194; Projects</a>
      <a href="#" class="navButton">&#128196;Certificates</a>
      <a href="#" class="navButton">&#128218; My Diary</a>
      <a href="#" class="navButton">&#128129;&#127995; About</a>
      <a href="./My-Portfolio.html" class="navButton">&#128587; Exit</a>
      <img class="imgHome" src="img\meAndTree.png" />
    </div>

-->


*/