.imgElement {
 
  width: 50%;
  
}




.visitBorder {

  text-align: center;

}

.My-Portfolio {

  color: white;
  text-align: center;
  
  

}

.container {
  text-align: center;
 
}


.container .text{
  color: white;
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
  border: 1px red solid;

}


.imgcenter {
  text-align: center;
  position: relative;
}


.imgScroll {
  text-align: center;
  width: 50%;


}



body {

    background-color: rgb(15, 15, 15);
}


