.imgElement {
 
  width: 50%;
  
}




.visitBorder {

  text-align: center;

}

.My-Portfolio {

  color: white;
  text-align: center;
  
  

}

.imgcenter {
  text-align: center;
}


.imgScroll {
  text-align: center;
  width: 50%;


}



body {

    background-color: rgb(15, 15, 15);
}


